{% comment %}
Example data:
    "entity": {
    "entityId": "3887",
    "entityBundle": "expandable_text",
    "fieldWysiwyg": {
    "processed": "<p>Test Test</p>"
    },
    "fieldTextExpander": "Test Expander"
    }
{% endcomment %}

{% if entity.fieldTextExpander %}
    <va-additional-info disable-border trigger="{{entity.fieldTextExpander}}" uswds>
    {% if entity.fieldWysiwyg %}
        <div>
            {% if entity.fieldWysiwyg.processed %}
                {{ entity.fieldWysiwyg.processed }}
            {% elsif entity.fieldWysiwyg.0.processed %}
                {{ entity.fieldWysiwyg.0.processed }}
            {% endif %}
        </div>
    {% endif %}
    </va-additional-info>
{% endif %}
