<va-card data-template="paragraphs/link_teaser_featured_content" data-entity-id="{{ linkTeaser.entityId }}"
  class="vads-u-flex--fill vads-u-margin-bottom--2 vads-u-margin-right--0 medium-screen:vads-u-margin-x--0p5 spotlight-card">
  {% assign link = linkTeaser.fieldLink %}
    {% if link.title != empty %}
        <h3 class="vads-u-margin-top--0">{{ link.title }}</h3>

    {% endif %}
    {% if linkTeaser.fieldLinkSummary != empty %}
        <p class="va-nav-linkslist-description">{{ linkTeaser.fieldLinkSummary }}</p>
    {% endif %}
      <va-link active class="vads-u-display--block vads-u-padding-top--1" href="{{link.url.path}}" text="Read more"></va-link>
</va-card>
