{% comment %}
  Example data:
  {
    block: {
      entity: {
        entityBundle: "process"
        entityRendered: "  <div class="paragraph paragraph--type--process paragraph--view-mode--full"></div>"
        entityType: "paragraph"
      }
    }
  }
{% endcomment %}

<div data-template="paragraphs/process" data-entity-id="{{ entity.entityId }}" class="process schemaform-process">
  <va-process-list>
    {% for item in entity.fieldSteps %}
        <va-process-list-item>{{ item.processed }}</va-process-list-item>
    {% endfor %}
  </va-process-list>
</div>