{% comment %}
  Example data:
  "entity": {
    "entityType": "paragraph",
    "entityBundle": "spanish_translation_summary",
    "entityId": "937",
    "fieldWysiwyg": {
      "processed": "..."
    },
    "fieldTextExpander": "Obtenga instrucciones para esta solicitud en Español. "
  }
{% endcomment %}

{% comment %}
  This component is used to render Additional Information content blocks.
  The entityBundle name, `spanish_translation_summary`, is inaccurate, since this component can really be used for anything, not just Spanish related content.
{% endcomment %}

{% if entity.fieldTextExpander%}
  <div data-template="paragraphs/spanish_translation" data-entity-id="{{ entity.entityId }}" class="form-expanding-group additional-info-container">
    <span class="additional-info-title">{{ entity.fieldTextExpander }}</span>
    <span id="spanishhelptext-{{ entity.entityId }}">
      <div class="additional-info-content">
        {{ entity.fieldWysiwyg.processed }}
      </div>
    </span>
  </div>
{% endif %}