{% comment %}
    Example data:
    entity: {
        "entityId": "3944",
        "fieldTable": {
            "tableValue": "Row 1 Column 1 Row 1 Column 2 Row 1 Column 3 Row 2 Column 1 Row 2 Column 2 Row 2 Column 3 Row 3 Column 1 Row 3 Column 2 Row 3 Column 3",
            "value": {
                "0": [
                "Row 1 Column 1",
                "Row 1 Column 2",
                "Row 1 Column 3"
                ],
                "1": [
                "Row 2 Column 1",
                "Row 2 Column 2",
                "Row 2 Column 3"
                ],
                "2": [
                "Row 3 Column 1",
                "Row 3 Column 2",
                "Row 3 Column 3"
                ],
            }
            "format": "rich_text",
            "caption": "Test Table"
        }
    }
{% endcomment %}
<va-table data-template="paragraphs/table" data-entity-id="{{ entity.entityId }}" role="table" table-title="{{ entity.fieldTable.caption }}">
    {% assign colLabels = entity.fieldTable.value.0  %}
    {% for value in entity.fieldTable.value %}
        {% if forloop.first == true %}
            <va-table-row slot="headers" key="header">
                {% for column in value %}
                    {% if column == "" or column == nil %}
                    <span role="columnheader"> </span>
                    {% else %}
                    <span role="columnheader" scope="col">{{ column }}</span>
                    {% endif %}
                {% endfor %}
            </va-table-row>
        {% else %}
                <va-table-row>
                    {% for column in value %}
                        <span>
                        {{ column }}
                        </span>
                    {% endfor %}
                </va-table-row>
        {% endif %}
    {% endfor %}
</va-table>