# Directories to ignore
node_modules/
/build/
logs/

# Files to ignore
._*
.cache
.config
.DS_Store
.env
npm-debug.log
*.log

config/config.proxy.js

.babelcache
jsconfig.json
typings.json
typings/
coverage
.nyc_output
.yalc
yalc.lock
/test-results.xml
package-lock.json
src/applications/
!src/applications/registry.json
temp
/tmp
dump.rdb
test-results/

# Ignore user's editor/IDE prefs
.vscode/
# Ignore the hashed build files for comparison
standaloneContentBuildHash.txt
websiteContentBuildHash.txt
cms.diff
.idea/
.swp
.swo
all-links.csv
.tern-port
*.iml

# Ignore the hashed build files for comparison
standaloneContentBuildHash.txt
websiteContentBuildHash.txt

cms.diff
graphql-data.json
/content-object-diffs
content-object-diff.json

comparison-output/
