# Directories to ignore
node_modules/
/build/
logs/
src/site/tests/html/

# Files to ignore
._*
.cache
.config
.DS_Store
.env
npm-debug.log
*.log
*.swp

heading_order_violations.*

config/config.proxy.js

.babelcache
jsconfig.json
typings.json
typings/
coverage
/cypress
.nyc_output
.yalc
yalc.lock
/test-results.xml
package-lock.json
src/applications/
!src/applications/registry.json
temp
/tmp
dump.rdb
test-results/

# Ignore user's editor/IDE prefs
.vscode/
*.code-workspace
.idea/
.swp
.swo
all-links.csv
.tern-port
*.iml

# Track shared IDE config
!.vscode/extensions.json

# Ignore the hashed build files for comparison
standaloneContentBuildHash.txt
websiteContentBuildHash.txt
cms.diff
graphql-data.json
/content-object-diffs
content-object-diff.json

comparison-output/
