version: '3'
services:
  content-build:
    image: content-build:${IMAGE_TAG:-latest}
    build:
      context: .
    volumes:
      - .:/application/content-build
    environment:
      WEB_HOST: 'content-build'
      WEB_PORT: 3001
      API_HOST: 'content-build'
    expose:
      - 3001
      - 3000
      - 9515
    command: ./script/run-docker-nightwatch.sh
