version: '3'
services:
  content-build:
    image: content-build:${IMAGE_TAG:-latest}
    build:
      context: .
      target: builder
    environment:
      WEB_HOST: 'content-build'
      WEB_PORT: 3001
      API_HOST: 'content-build'
    expose:
      - 3001
      - 3000
    command: ./script/run-docker-nightwatch.sh
  selenium-chrome:
    image: selenium/standalone-chrome:3.14.0-francium
    links:
      - content-build
    shm_size: 2g
    expose:
      - 4444
    environment:
      GRID_BROWSER_TIMEOUT: 10000
      GRID_TIMEOUT: 12000
      DBUS_SESSION_BUS_ADDRESS: /dev/null
