// Add CSS and imports here.
.feedback-button {
  height: 44px !important;
  width: 133px !important;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  margin-right: 0px;
  margin-top: 0px;
  background-color: #0071bb !important;
}

.above-footer-elements-container {
  margin-bottom: 2.5rem;
}

.last-updated {
  padding-bottom: 1.25rem !important;
  padding-top: 1.25rem !important;
}
