version: 2.1
orbs:
  node: circleci/node@3.0.0
jobs:
  validate-content-build:
    docker:
      - image: circleci/node:14.15.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          command: yarn install --frozen-lockfile
      - save_cache:
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run:
          name: Checkout vets-website
          command: cd .. && git clone git@github.com:department-of-veterans-affairs/vets-website.git
      - run:
          name: Install vets-website dependencies
          command: cd ../vets-website && yarn install
      - run:
          name: Where am I
          command: pwd && ls
      - run:
          name: Run validation script
          command: cd ../project && yarn validate-content-build
  lint:
    docker:
      - image: circleci/node:14.15.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          command: yarn install --frozen-lockfile
      - save_cache:
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run: mkdir -p ./test-results
      - run: npx eslint --ext .js --ext .jsx --format junit --output-file ./test-results/eslint.xml .
      - store_test_results:
          path: ./test-results
      - store_artifacts:
          path: ./test-results

  unit-test:
    docker:
      - image: circleci/node:14.15.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          command: yarn install --frozen-lockfile
      - save_cache:
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run: mkdir -p ./test-results
      - run:
          command: yarn test:unit --coverage
          environment:
            MOCHA_FILE: ./test-results/test-results.xml
      - run: node ./script/app-coverage-report.js
      - store_test_results:
          path: ./test-results
      - store_artifacts:
          path: ./test-results

  contract-test:
    docker:
      - image: circleci/node:14.15.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run: yarn install --frozen-lockfile
      - save_cache:
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run: mkdir -p ./test-results
      - run: mkdir -p ./pacts
      - run:
          command: yarn test:contract
          environment:
            MOCHA_FILE: ./test-results/test-results.xml
      - run: yarn pact:publish
      - persist_to_workspace:
          root: .
          paths:
            - pacts
      - store_test_results:
          path: ./test-results
      - store_artifacts:
          path: ./test-results

  can-i-deploy:
    docker:
      - image: circleci/node:14.15.0
    steps:
      - checkout
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run: yarn install --frozen-lockfile
      - save_cache:
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run: yarn pact:can-i-deploy

  security-audit:
    docker:
      - image: circleci/node:14.15.0
    steps:
      - checkout
      - run: yarn security-check

  build:
    docker:
      - image: circleci/node:14.15.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          command: yarn install --frozen-lockfile
      - save_cache:
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run: yarn build:webpack

  eslint-check:
    docker:
      - image: circleci/node:14.15.0
    environment:
      CODE_PATTERN: (/* eslint-disable)|(// eslint-disable)
      OVERALL_REVIEW_COMMENT: >
        # ESLint is disabled

        `vets-website` uses ESLint to help enforce code quality. In most
        situations we would like ESLint to remain enabled.

        ## What you can do

        See if the code can be refactored to avoid disabling ESLint, or wait for
        a VSP review.

      LINE_COMMENT: ESLint disabled here
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: yarn install
      - run:
          name: Try Diff
          command: npm run pr-check

  sentry-check:
    docker:
      - image: circleci/node:14.15.0
    environment:
      CODE_PATTERN: Sentry\.
      OVERALL_REVIEW_COMMENT: >
        # Sentry call found

        Sentry captures a lot of data, and we want to make sure that we only
        keep information that will be useful for troubleshooting issues.  This
        means that PII should not be recorded.

        ## What you can do

        Review your call to Sentry and see if you can reasonably reduce any
        information that is included, or wait for a VSP review.

      LINE_COMMENT: Sentry found
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: yarn install
      - run:
          name: Check PR for Sentry calls
          command: npm run pr-check

  icon-check:
    docker:
      - image: circleci/node:14.15.0
    environment:
      CODE_PATTERN: (<i )|(<i$)
      OVERALL_REVIEW_COMMENT: >
        # Icon found

        Icons can be decorative, but sometimes they are used to convey meaning.
        If there are any semantics associated with an icon, those semantics
        should also be conveyed to a screen reader.

        ## What you can do

        Review the markup and see if the icon provides information that isn't
        represented textually, or wait for a VSP review.

      LINE_COMMENT: icon found
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: yarn install
      - run:
          name: Check PR for icon additions
          command: npm run pr-check

  build-environment:
    working_directory: ~/content-build
    docker:
      - image: circleci/node:14.15.0
    resource_class: xlarge
    steps:
      - checkout
      - restore_cache:
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Checkout vagov-content
          command: cd .. && git clone git@github.com:department-of-veterans-affairs/vagov-content.git
      - run:
          name: Install Dependencies
          command: cd ../content-build && yarn --frozen-lockfile --cache-folder ~/.cache/yarn
      - save_cache:
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run:
          name: Fetch Drupal Cache
          command: yarn fetch-drupal-cache --buildtype=vagovstaging
      - run:
          name: Build site
          command: NODE_ENV=production yarn build --buildtype=vagovstaging
      - persist_to_workspace:
          root: ~/
          paths:
            - content-build/build

  nightwatch:
    working_directory: ~/content-build
    docker:
      - image: circleci/node:14.15.0
      - image: selenium/standalone-chrome:3.11.0
    resource_class: xlarge
    steps:
      - checkout
      - attach_workspace:
          at: ~/
      - restore_cache:
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: cd ../content-build && yarn --frozen-lockfile --cache-folder ~/.cache/yarn
      - run:
          name: Run nightwatch tests
          command: yarn start-server-and-test "node src/platform/testing/e2e/test-server.js --buildtype=vagovstaging --port=3001 > /dev/null 2>&1" :3001 "yarn nightwatch"
      - persist_to_workspace:
          root: ~/
          paths:
            - content-build/build

workflows:
  version: 2
  flag-for-manual-review:
    jobs:
      - eslint-check:
          filters:
            branches:
              ignore: master
      - sentry-check:
          filters:
            branches:
              ignore: master
      - icon-check:
          filters:
            branches:
              ignore: master
  test-and-build:
    jobs:
      - lint
      - unit-test
      - security-audit
      - build-environment:
          requires:
            - lint
            - unit-test
            - security-audit
  integration:
    jobs:
      - build-environment
      - nightwatch:
          requires:
            - build-environment
  hourly-content-validation:
    triggers:
      - schedule:
          cron: "0 * * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - lint
