<!-- Derive visible banners. -->
{% assign visibleBanners = banners.entities | deriveVisibleBanners: entityUrl.path %}

<!-- Banners -->
{% for banner in visibleBanners %}
  <va-banner
    data-template="components/banners.drupal.liquid"
    {% if banner.fieldDismissibleOption != 'perm' %}
    show-close="true"
    {% endif %}
    {% if banner.fieldDismissibleOption == 'dismiss-session' %}
    window-session="true"
    {% endif %}
    headline="{{ banner.title }}"
    type="{{ banner.fieldAlertType | formatAlertType }}"
    visible="true"
  >{{ banner.body.processed }}</va-banner>
{% endfor %}

<!-- Maintenance banner -->
<div
  aria-label="Maintenance banner"
  data-widget-type="maintenance-banner"
  role="region"
></div>

<!-- Derive visible promo banners. -->
{% assign visiblePromoBanners = promoBanners.entities | deriveVisibleBanners: entityUrl.path %}

<!-- Promo Banners -->
  <va-promo-banner
    onclick="recordEvent({ event: 'promo-banner-event', 'promo-banner-action': 'Footer alert - {{promoBanner.title}}'})"
    aria-label="Test Banner"
    role="region"
    data-template="components/banners.drupal.liquid"
    id="5""
    href="https://google.com"
    type="I'm promoting a thing!"
  >Whoohoo look at this promo banner</va-promo-banner>
