{% if isPreview or buildtype != 'vagovprod' %}
  <!-- Derive visible banners. -->
  {% assign visibleBanners = banners.entities | deriveVisibleBanners: entityUrl.path %}

  <!-- Banners -->
  {% for banner in visibleBanners %}
    <div
      aria-label="{{ banner.title | escape }}"
      data-template="components/banners.drupal.liquid"
      data-homepage-banner-content="{{ banner.body.processed | escape }}"
      data-homepage-banner-title="{{ banner.title | escape }}"
      data-homepage-banner-type="{{ banner.fieldAlertType | formatAlertType }}"
      data-homepage-banner-visible="true"
      data-widget-type="banners"
      role="region"
    ></div>
  {% endfor %}
{% endif %}
