{% if phoneNumber %}
  <h{{ phoneHeaderLevel }}>{{ phoneLabel | default: 'Phone' }}</h{{ phoneHeaderLevel }}>
  <div>
    {% include "src/site/components/phone-number-base.drupal.liquid" %}
  </div>
{% endif %}
