<div class="last-updated usa-content vads-u-padding-x--1 large-screen:vads-u-padding-x--0">
  <div class="vads-u-display--flex above-footer-elements-container">
    <div class="vads-u-flex--auto">
      <span class="vads-u-text-align--justify">
        {% include "src/site/includes/last-updated.drupal.liquid" %}
      </span> 
    </div>
    <div class="vads-u-flex--1 vads-u-text-align--right">
      <span class="vads-u-text-align--right">
        {% if includeFeedbackButton != false %}
          {% include "src/site/includes/medallia-feedback-button.drupal.liquid" %}
        {% endif %}
      </span> 
    </div>
  </div>
</div>
