<div data-template="includes/breadcrumbs">
  {% assign crumbs = entityUrl.breadcrumb %}

  {% if deriveBreadcrumbsFromUrl == true %}
    {% assign crumbs = entityUrl.breadcrumb | deriveLastBreadcrumbFromPath: title, entityUrl.path, replaceLastItem %}
  {% endif %}

  {% if constructLcBreadcrumbs == true %}
    {% assign crumbs = entityUrl.breadcrumb | deriveLcBreadcrumbs: title, entityUrl.path, titleInclude %}
  {% endif %}

  {% assign crumbs = crumbs | formatForBreadcrumbs: title, entityUrl.path, hideHomeBreadcrumb, customHomeCrumbText  %}

  <va-breadcrumbs class="row" wrapping />

  <script>
    const bcComponent = document.querySelector('va-breadcrumbs');
    if (bcComponent) {
      bcComponent.setAttribute('breadcrumb-list', {{ crumbs }});
    }
  </script>
</div>
