<div class="vads-u-padding-x--1p5" data-template="includes/breadcrumbs">
  {% if gatePage === true %}
    {% assign gatePageClassName = 'va-nav-breadcrumbs--gate' %}
  {% endif %}

  {% assign crumbs = breadcrumb_path %}
  {% if breadcrumbs_override %}
    {% assign crumbs = breadcrumbs_override %}
  {% endif %}
  {% assign crumbs = crumbs | formatForBreadcrumbsHTML %}

  <va-breadcrumbs class="row {{gatePageClassName}} {% if newGrid %}new-grid{% endif %}" wrapping />

  <script>
    const bcComponent = document.querySelector('va-breadcrumbs');
    if (bcComponent) {
      bcComponent.setAttribute('breadcrumb-list', {{ crumbs }});
    }
  </script>
</div>