{% comment %}
parameters:
directionsLinkTitle
directionsLinkAddress
directionsLinkOnClickPropName
directionsLinkOnClickPropValue
{% endcomment %}

<div>
  <va-link
    {% if directionsLinkTitle != empty %}
      label="Get directions on Google Maps to {{ directionsLinkTitle | strip }}"
    {% endif %}
    href="https://maps.google.com?saddr=Current+Location&amp;daddr={{ directionsLinkAddress | strip }}"
    text="Get directions on Google Maps"
/></va-link>
</div>