{% comment %}
parameters:
directionsLinkTitle
directionsLinkAddress
directionsLinkOnClickPropName
directionsLinkOnClickPropValue
{% endcomment %}

<div>
  <va-link
    label="to {{ directionsLinkTitle | strip }}"
    href="https://maps.google.com?saddr=Current+Location&amp;daddr={{ directionsLinkAddress | strip }}"
    text="Get directions on Google Maps"
  />
  </va-link>
</div>