<script nonce="**CSP_NONCE**" type="text/javascript">
    window.operatingStatusFacility = {{ operatingStatusFacility | json }};
    window.operatingStatusMoreInfo = {{ operatingStatusMoreInfo | json }};
</script>
<div data-widget-type="vet-center-nearby"></div>