<footer class="footer">
  <div
    id="footerNav"
    data-minimal-footer="{% if minimalFooter %}true{% else %}false{% endif %}"
  ></div>
</footer>
<div id="logout-modal-root"></div>
<!--
VA's mission: To fulfill President Lincoln's promise to care for those who have served in our nation's military and for their families, caregivers, and survivors.
-->
<script nonce="**CSP_NONCE**" type="text/javascript">
(function() {
  var module = {};
  {% include "src/site/assets/js/static-page-widgets.js" %}
  mountWidgets(document.querySelectorAll('[data-widget-type]'), 6000);
})();
</script>

</body>
</html>
