<!-- Header Minimal -->
{% assign exclude_paths = minimalExcludePaths %}
{% if minimalHeader and minimalHeader.excludePaths %}
  {% assign exclude_paths = minimalHeader.excludePaths %}
{% endif %}
<div
  id="header-minimal"
  class="vads-u-display--none vads-u-background-color--primary-darker"
  {% if exclude_paths %}
    data-exclude-paths="{{ exclude_paths | json | escape }}"
  {% endif %}
>
  <va-header-minimal
    {% if minimalHeader.title %}
      header="{{ minimalHeader.title }}"
    {% endif %}
    {% if minimalHeader.subtitle %}
      subheader="{{ minimalHeader.subtitle }}"
    {% endif %}
    {% if minimalHeader.enableHeadings %}
      enable-headings="{{ minimalHeader.enableHeadings }}"
    {% endif %}
  ></va-header-minimal>
</div>