<!DOCTYPE html>
<html lang="en">

<!--
  layout: {{ layout }}
  path: {{ path }}
  entityId: {{ entityId | default: 'N/A' }}
-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Preconnecting required origins: https://web.dev/uses-rel-preconnect/ -->
  <link rel="preconnect" href="https://www.googletagmanager.com" />

  <!-- Index only pages on production. -->
  {% if buildtype != 'vagovprod' %}
  <meta name="robots" content="noindex">
  {% endif %}

  <!-- Add metatags. -->
  {% include "src/site/includes/metatags.drupal.liquid" %}

  <!-- Add polyfills. -->
  <script nonce="**CSP_NONCE**" nomodule data-entry-name="polyfills.js"></script>

  <!-- Add analytics helpers. -->
  <script nonce="**CSP_NONCE**">
    {% include "src/site/assets/js/record-event.js" %}
  </script>

  <!-- Add web components. -->
  {% if entityId != 11463 or buildtype != "vagovdev") %}
  <link rel="stylesheet" data-entry-name="web-components.css">
  {% comment %}
  The `useLocalStylesAndComponents` registry value allows apps to opt-out of
  this global file which will define all web components. Instead, they will manually
  define a subset of web components which are used in their application
  {% endcomment %}
  {% unless useLocalStylesAndComponents %}
  <script nonce="**CSP_NONCE**" defer data-entry-name="web-components.js"></script>
  {% endunless %}
  {% endif %}

  <!-- Render GA template. -->
  {% include 'src/site/includes/google-analytics.liquid' %}

  <!-- Add Icons. -->
  <link href="/img/design/icons/apple-touch-icon.png" rel="apple-touch-icon-precomposed" />
  <link href="/img/design/icons/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72" />
  <link href="/img/design/icons/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114" />
  <link href="/img/design/icons/apple-touch-icon-152x152.png" rel="apple-touch-icon-precomposed" sizes="144x144" />
  <link rel="shortcut icon" href="/img/design/icons/favicon.ico" />

  <meta name="msapplication-TileImage" content="/img/design/icons/apple-touch-icon-114x114">
  <meta name="msapplication-TileColor" content="#144073">

  <!-- Preload main fonts -->
  <link rel="preload" href="/generated/sourcesanspro-bold-webfont.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/generated/sourcesanspro-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/generated/bitter-bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/generated/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>

  <!-- CSS -->
  {% comment %}
  Apps that opt out of the site-wide stylesheet must include a smaller subset of styles
  in their application bundle
  {% endcomment %}
  {% unless useLocalStylesAndComponents %}
  <link rel="stylesheet" data-entry-name="style.css">
  {% endunless %}
  <link rel="stylesheet" data-entry-content="content-build.css">
  <link rel="stylesheet" data-entry-name="{{ entryname | default: 'static-pages' }}.css">

  <!-- Old IE -->

  {% if botframework_cdn %}
  <script nonce="**CSP_NONCE**" src="{{ botframework_cdn }}"></script>
  {% endif %}

  <script nonce="**CSP_NONCE**" defer data-entry-name="vendor.js"></script>
  <script nonce="**CSP_NONCE**" defer data-entry-name="{{ entryname | default: 'static-pages' }}.js"></script>

  <!--
  We participate in the US government’s analytics program. See the data at analytics.usa.gov.
  https://github.com/digital-analytics-program/gov-wide-code
  -->
  <script async type="text/javascript" nonce="**CSP_NONCE**"
    src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=VA" id="_fed_an_ua_tag"></script>

  <script nonce="**CSP_NONCE**" type="text/javascript">
    function focusContent(e) {
      e.preventDefault();
      const contentElement = document.querySelector('#content h1') || document.querySelector('#content');
      contentElement.setAttribute('tabindex', '-1');
      contentElement.addEventListener('blur', function (event) {
        event.target.removeAttribute('tabindex');
      }, true);
      window.scrollTo(0, contentElement.offsetTop);
      contentElement.focus();
    }
    window.VetsGov = window.VetsGov || {};
    window.VetsGov.headerFooter = JSON.parse({{ headerFooterData }});
  </script>

  {% include "src/site/includes/survey-tools.html" %}

  {% comment %} TODO: Remove this block once the focus styling changes have been tested {% endcomment %}
  {% if entityId == 11463 and buildtype == "vagovdev" %}
  <link rel="stylesheet"
    href="https://unpkg.com/@department-of-veterans-affairs/formation@8.0.1-3/dist/formation.min.css">
  <script type="module">
    import { defineCustomElements } from "https://unpkg.com/@department-of-veterans-affairs/web-components@4.10.2-3/loader/index.es2017.js";
    defineCustomElements();
  </script>
  <link rel="stylesheet" type="text/css"
    href="https://unpkg.com/@department-of-veterans-affairs/component-library@11.3.2-3/dist/main.css" />
  <style>
    .usa-accordion-button:focus {
      border: none !important;
    }

    .va-sidebarnav .usa-sidenav-sub_list a:focus {
      outline: 2px solid #936f38;
    }
  </style>
  {% endif %}

</head>

<body class="{{ body_class }} merger">
  <div id="announcement-root"></div>
  <!-- Draft status -->
  {% if entityUrl.path && isPreview && !entityPublished %}
  <div class="vads-u-background-color--primary-alt-lightest vads-u-padding--1">
    <div class="vads-l-grid-container medium-screen:vads-u-padding-x--0">
      You are viewing a draft of "{{ entityUrl.path }}".
      {% if drupalSite && entityId %}
      <a data-same-tab href="{{ drupalSite }}/node/{{ entityId }}/edit">
        Edit this page in the CMS.
      </a>
      {% endif %}
    </div>
  </div>
  {% endif %}

  {{ google_analytics_noscript }}
  <a class="show-on-focus" href="#content" onclick="focusContent(event)">Skip to Content</a>

  <!-- Header -->
  <header role="banner">
    <!-- Mobile Layout -->
    <div data-widget-type="header" data-show="{% if noHeader %}false{% else %}true{% endif %}"
      data-show-nav-login="{% if noNavOrLogin %}false{% else %}true{% endif %}"
      data-show-mega-menu="{% if noMegamenu %}false{% else %}true{% endif %}" id="header-v2"></div>

    {% unless noHeader %}
    <!-- Desktop/Tablet Header -->
    <div id="desktop-header" class="vads-u-display--none">
      <div class="va-notice--banner">
        <div class="va-notice--banner-inner">
          <div class="usa-banner">
            <div class="usa-accordion">
              <div class="usa-banner-header">
                <div class="usa-grid usa-banner-inner">
                  <img src="/img/tiny-usa-flag.png" alt="U.S. flag" height="20" width="20" />
                  <p>An official website of the United States government CB</p>
                  <button id="usa-banner-toggle" class="usa-accordion-button usa-banner-button" aria-expanded="false"
                    aria-controls="gov-banner">
                    <span class="usa-banner-button-text">Here’s how you know</span>
                  </button>
                </div>
              </div>
              <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner" aria-hidden="true">
                <div class="usa-banner-guidance-gov usa-width-one-half">
                  <img class="usa-banner-icon usa-media_block-img" src="/img/icon-dot-gov.svg" alt="Dot gov">
                  <div class="usa-media_block-body">
                    <p>
                      <strong>The .gov means it’s official.</strong>
                      <br>
                      Federal government websites often end in .gov or .mil. Before sharing sensitive information, make
                      sure
                      you're on a federal government site.
                    </p>
                  </div>
                </div>
                <div class="usa-banner-guidance-ssl usa-width-one-half">
                  <img class="usa-banner-icon usa-media_block-img" src="/img/icon-https.svg" alt="SSL">
                  <div class="usa-media_block-body">
                    <p>
                      <strong>The site is secure.</strong>
                      <br> The <strong>https://</strong> ensures that you're connecting to the official website and that
                      any
                      information you provide is encrypted and sent securely.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="va-crisis-line-container vads-u-background-color--secondary-darkest">
          <button class="va-crisis-line va-overlay-trigger vads-u-background-color--secondary-darkest"
            data-show="#modal-crisisline" onclick="recordEvent({ event: 'nav-crisis-header' })">
            <div class="va-crisis-line-inner">
              <span class="va-crisis-line-icon" aria-hidden="true"></span>
              <span class="va-crisis-line-text" onClick="recordEvent({ event: 'nav-jumplink-click' });">Talk to the
                <strong>Veterans Crisis Line CB</strong> now</span>
              <img alt="" aria-hidden="true" class="va-crisis-line-arrow" src="/img/arrow-right-white.svg" />
            </div>
          </button>
        </div>
      </div>
      <div class="vads-l-row" id="va-header-logo-menu">
        <a href="/" class="vads-l-col--6 vads-u-display--flex vads-u-align-items--center vads-u-text-decoration--none">
          <img src="/img/seal/seal.png" alt="VA Seal" height="60" width="60" />
          <p
            class="vads-u-color--black vads-u-display--inline-block vads-u-font-size--xl vads-u-line-height--1 vads-u-font-weight--bold vads-u-margin--0 vads-u-padding-left--1p5">
            U.S.
            Department<br />of Veterans Affairs</p>
        </a>
        {% unless noNavOrLogin %}
        <div id="va-nav-controls"></div>
        {% unless noMegamenu %}
        <div class="medium-screen:vads-u-display--none usa-grid usa-grid-full">
          <div class="menu-rule usa-one-whole"></div>
          <div class="mega-menu" id="mega-menu-mobile"></div>
        </div>
        {% endunless %}
        <div id="login-root" class="vads-l-col--6"></div>
        {% endunless %}
      </div>
      {% unless noMegamenu %}
      <div class="usa-grid usa-grid-full">
        <div class="menu-rule usa-one-whole"></div>
        <div class="mega-menu" id="mega-menu"></div>
      </div>
      {% endunless %}
    </div>
    {% endunless %}

    <!-- Banners -->
    {% include "src/site/components/banners.drupal.liquid" %}
  </header>

  <!-- Fullwidth banner alerts -->
  {% include "src/site/components/fullwidth_banner_alerts.drupal.liquid" %}

  <script nonce="**CSP_NONCE**" type="text/javascript">
    {% include "src/site/assets/js/skip-link-focus.js" %}
  </script>

  <script type="text/javascript" defer>
    window.onload = function () {
      const contentElement = document.querySelector('.smartbanner');

      if (contentElement) {
        contentElement.style.top = '-84px'
      }
    };
  </script>