<!-- Header Minimal -->
<div
  id="header-minimal"
  class="vads-u-display--none vads-u-background-color--primary-darker"
  {% if minimalHeader.excludePaths %}
    data-exclude-paths="{{ minimalHeader.excludePaths | json | escape }}"
  {% endif %}
>
  <va-header-minimal
    {% if minimalHeader.title %}
      header="{{ minimalHeader.title }}"
    {% endif %}
    {% if minimalHeader.subtitle %}
      subheader="{{ minimalHeader.subtitle }}"
    {% endif %}
    {% if minimalHeader.disableHeadings %}
      disable-headings="{{ minimalHeader.disableHeadings }}"
    {% endif %}
  ></va-header-minimal>
</div>