{% assign servicesList = clinicalHealthServices | filterBy: "fieldServiceNameAndDescripti.entity.fieldServiceTypeOfCare", typeOfCare %}
{% assign servicesListOrderedByWeight = servicesList | sortObjectsBy: "fieldServiceNameAndDescripti.entity.name"%}

{% if servicesListOrderedByWeight.length > 0 %}
  <section data-label="{{typeOfCare}}">
    <h2>{{typeOfCare}}</h2>
    {% for service in servicesListOrderedByWeight %}
      {% include "src/site/facilities/health_service.drupal.liquid" with
        healthService = service
        sectionName = typeOfCare
      %}
    {% endfor%}
  </section>
{% endif %}