{% assign servicesList = clinicalHealthServices | filterBy: "fieldServiceNameAndDescripti.entity.fieldServiceTypeOfCare", typeOfCare, false %}
{% assign servicesListOrderedByName = servicesList | sortObjectsBy: "fieldServiceNameAndDescripti.entity.name" %}

{% if servicesListOrderedByName.length > 0 %}
  <section data-label="{{typeOfCare}}">
    <h2>{{ typeOfCare }}</h2>
    <p>Select a topic to learn more.</p>
    <div class="service-accordion-output">
      <va-accordion bordered uswds="true">
      {% for service in servicesListOrderedByName %}
        {% include "src/site/facilities/health_service.drupal.liquid" with
          section
          healthService = service
          sectionName = typeOfCare
        %}
      {% endfor%}
      </va-accordion>
    </div>
  </section>
{% endif %}