{% if allHours %}
	<div class="vads-u-margin-bottom--0" data-template="hours">
		<div class="clinicalhours">
			{% if headerType == 'small' %}
				<h4 class="force-small-header vads-u-margin-top--0 vads-u-line-height--1 vads-u-margin-bottom--1">
					Hours</h4>
			{% elsif headerType == 'standard' %}
				<h4 class="vads-u-font-size--lg vads-u-margin-top--0 vads-u-line-height--1 vads-u-margin-bottom--1">
					Hours</h4>
			{% elsif headerType == 'clinical' %}
				<h3 class="vads-u-margin-top--2p5 vads-u-margin-bottom--1">
					Clinical hours
				</h3>
			{% endif %}
			<div class="vads-u-display--flex vads-u-flex-direction--column small-screen:vads-u-flex-direction--row vads-u-margin-bottom--0">
				<ul class="vads-u-flex--1 va-c-facility-hours-list vads-u-margin-top--0 vads-u-margin-bottom--1 small-screen:vads-u-margin-bottom--0 vads-u-margin-right--3">
					{% assign saturday = false %}
					{% assign sunday = false %}
					{% for hours in allHours %}
						{% if hours.day == 6 %}
							{% assign saturday = hours %}
						{% elsif hours.day == 0 %}
							{% assign sunday = hours %}
						{% else %}
							{% include "src/site/includes/hours-item.liquid" with hours = hours %}
						{% endif %}
					{% endfor %}
					{% if saturday %}
						{% include "src/site/includes/hours-item.liquid" with hours = saturday %}
					{% else %}
						<li>
							{% if headerType == 'clinical' %}
								<b class="abbrv-day">Sat:</b>
							{% else %}
								<span class="abbrv-day">Sat.</span>
							{% endif %}
						</li>
					{% endif %}
					{% if sunday %}
						{% include "src/site/includes/hours-item.liquid" with hours = sunday %}
					{% else %}
						<li>
							{% if headerType == 'clinical' %}
								<b class="abbrv-day">Sun:</b>
							{% else %}
								<span class="abbrv-day">Sun.</span>
							{% endif %}
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
{% endif %}
