{% if allHours %}
	<div class="vads-u-margin-bottom--0" data-template="hours">
		<div class="clinicalhours">
			{% if headerType == 'small' %}
				<h3 class="force-small-header vads-u-margin-top--0 vads-u-line-height--1 vads-u-margin-bottom--1">
					Hours</h3>
			{% elsif headerType == 'standard' %}
				<h3 class="vads-u-font-size--lg vads-u-margin-top--0 vads-u-line-height--1 vads-u-margin-bottom--1">
					Hours</h3>
			{% elsif headerType == 'clinical' %}
				<h2 class="vads-u-margin-top--2p5 vads-u-margin-bottom--1">
					Clinical hours
				</h2>
			{% endif %}
			<div class="vads-u-display--flex vads-u-flex-direction--column small-screen:vads-u-flex-direction--row vads-u-margin-bottom--0">
				<ul class="vads-u-flex--1 va-c-facility-hours-list vads-u-margin-top--0 vads-u-margin-bottom--1 small-screen:vads-u-margin-bottom--0 vads-u-margin-right--3">
					{% assign allHours = allHours | officeHoursDataFormat%}
					{% for hours in allHours %}
						{% include "src/site/includes/hours-item.liquid" with hours = hours %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endif %}
