<div class="usa-grid usa-grid-full">
  <div class="usa-width-three-fourths">
    <div class="usa-content">
    <!--Last updated-->
    <div class="last-updated vads-u-padding-x--1 large-screen:vads-u-padding-x--0"></div>
      <div class="vads-u-display--flex">
        <div class="vads-u-flex--auto">
          {% comment %} <span class="vads-u-text-align--justify">
             Last updated: <time
                datetime="{{ changed | dateFromUnix: 'YYYY-MM-DD'}}">{{ changed | humanizeTimestamp }}</time>
          </span> {% endcomment %}
        </div>
    <!--Medallia button-->    
        <div class="vads-u-flex--1 vads-u-text-align--right">
          {% if feedbackButton !== false %}
            <span class="vads-u-text-align--right">
              {% include "src/site/includes/medallia-feedback-button.drupal.liquid" %}
            </span> 
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>