{% if fieldButtons.length > 1 %}
  <ul class="vads-u-margin-y--3 usa-unstyled-list">
    {% for fieldButton in fieldButtons %}
      <li class="vads-u-margin-bottom--2">
        {% include "src/site/paragraphs/action_link.drupal.liquid" with entity = fieldButton.entity %}
      </li>
    {% endfor %}
  </ul>
{% elsif fieldButtons.length == 1 %}
  {% for fieldButton in fieldButtons %}
    {% include "src/site/paragraphs/action_link.drupal.liquid" with entity = fieldButton.entity %}
  {% endfor %}
{% endif %}