<header class="header" id="legacy-header" role="banner">
  <div class="incompatible-browser-warning">
    <div class="row full">
      <div class="small-12">
        Your browser is out of date. To use this website, please <a href="https://browsehappy.com/">update your browser</a> or use a different device.
      </div>
    </div>
  </div>

  <div class="va-notice--banner">
    <div class="va-notice--banner-inner">
      {% include "src/site/includes/usa-website-header.html" %}
    </div>
    <div class="va-crisis-line-container">
      <button onclick="recordEvent({ event: 'nav-crisis-header' })" data-show="#modal-crisisline" class="va-crisis-line va-overlay-trigger">
        <div class="va-crisis-line-inner">
          <span class="va-crisis-line-icon" aria-hidden="true"></span>
          <span class="va-crisis-line-text" onClick="recordEvent({ event: 'nav-jumplink-click' });">Talk to the <strong>Veterans Crisis Line</strong> now</span>
          <img class="va-crisis-line-arrow" src="/img/arrow-right-white.svg" aria-hidden="true"></img>
        </div>
      </button>
    </div>
  </div>
  <!-- /header alert box -->

  <div class="row va-flex usa-grid usa-grid-full" id="va-header-logo-menu">
    <div class="va-header-logo-wrapper">
      <a href="/" class="va-header-logo">
        <img src="/img/header-logo.png" alt="Go to VA.gov"/>
      </a>
    </div>
    {% if !noNavOrLogin %}
      <div id="va-nav-controls"></div>
      {% unless noMegamenu %}
        <div class="medium-screen:vads-u-display--none usa-grid usa-grid-full">
          <div class="menu-rule usa-one-whole"></div>
          <div class="mega-menu" id="mega-menu-mobile"></div>
        </div>
      {% endunless %}
      <div id="login-root" class="vet-toolbar"></div>
    {% endif %}
  </div>
  {% unless noMegamenu %}
    <div class="usa-grid usa-grid-full">
      <div class="menu-rule usa-one-whole"></div>
      <div class="mega-menu" id="mega-menu"></div>
    </div>
  {% endunless %}
</header>
