<div id="legacy-header" class="vads-u-display--none">
  <div class="incompatible-browser-warning">
    <div class="row full">
      <div class="small-12">
        Your browser is out of date. To use this website, please <a href="https://browsehappy.com/">update your browser</a> or use a different device.
      </div>
    </div>
  </div>

  <div class="va-notice--banner">
    <div class="va-notice--banner-inner">
      {% include "src/site/includes/usa-website-header.html" %}
    </div>
    <div class="va-crisis-line-container vads-u-background-color--secondary-darkest">
      <button
        class="va-crisis-line va-overlay-trigger vads-u-background-color--secondary-darkest"
        data-show="#modal-crisisline"
        onclick="recordEvent({ event: 'nav-crisis-header' })"
      >
        <div class="va-crisis-line-inner">
          <span class="va-crisis-line-icon" aria-hidden="true"></span>
          <span class="va-crisis-line-text" onClick="recordEvent({ event: 'nav-jumplink-click' });">Talk to the <strong>Veterans Crisis Line</strong> now</span>
          <img alt="" aria-hidden="true" class="va-crisis-line-arrow" src="/img/arrow-right-white.svg"></img>
        </div>
      </button>
    </div>
  </div>
  <!-- /header alert box -->

  <div class="row va-flex usa-grid usa-grid-full" id="va-header-logo-menu">
    <div class="va-header-logo-wrapper">
      <a href="/" class="va-header-logo">
        <img src="/img/header-logo.png" alt="Go to VA.gov"/>
      </a>
    </div>
    {% if !noNavOrLogin %}
      <div id="va-nav-controls"></div>
      {% unless noMegamenu %}
        <div class="medium-screen:vads-u-display--none usa-grid usa-grid-full">
          <div class="menu-rule usa-one-whole"></div>
          <div class="mega-menu" id="mega-menu-mobile"></div>
        </div>
      {% endunless %}
      <div id="login-root" class="vet-toolbar"></div>
    {% endif %}
  </div>
  {% unless noMegamenu %}
    <div class="usa-grid usa-grid-full">
      <div class="menu-rule usa-one-whole"></div>
      <div class="mega-menu" id="mega-menu"></div>
    </div>
  {% endunless %}
  <va-alert
    class="ie-deprecation-warning"
    close-btn-aria-label="Close notification"
    full-width
    status="warning"
    style="display: none;"
    visible
  >
    <h3 slot="headline">
      Internet Explorer 13 will soon be unsupported
    </h3>
    <div>
      <p className="vads-u-margin-bottom--0 vads-u-padding--0">
        You will need to switch to use Chrome, Firefox, or Safari.
      </p>
    </div>
  </va-alert>
  <!-- Solutioned for: https://github.com/department-of-veterans-affairs/va.gov-cms/issues/9075 -->
  <script type="text/javascript">
    const isIE = /Trident\/[0-7]\.[0-9]/i.test(window.navigator.userAgent);

    if (isIE) {
      const ieMessageEl = document.body.querySelector('.ie-deprecation-warning');
      ieMessageEl.style.display = 'block';
    }
  </script>
</div>
