<script nonce="**CSP_NONCE**" type="text/javascript">
    window.vetCenterHours = {{ vetCenterHours | json }};
    window.isSatelliteLocation = {{ isSatelliteLocation }};
</script>
<div data-widget-type="vet-center-hours"></div>