<script nonce="**CSP_NONCE**" type="text/javascript">
    window["{{ vetCenterHoursKey  }}"] = {{ vetCenterHours | json }};
</script>
<div data-widget-type="vet-center-hours-one" data-widget-key="{{ vetCenterHoursKey  }}"></div>