<script nonce="**CSP_NONCE**" type="text/javascript">
    window.mainVetCenterPhone = {{ mainVetCenterPhone | json }};
    window.mainVetCenterAddress = {{ mainVetCenterAddress | json }};
    window.mainVetCenterId = {{ mainVetCenterId |  json }};
    window.satteliteVetCenters = {{ satelliteVetCenters | getValuesForPath: 'fieldFacilityLocatorApiId' | json }};
</script>
{% comment %}sattelite-vet-centers will be used by the nearbyVetCenter widget for deduping{% endcomment %}
<div data-widget-type="vet-center-nearby"></div>
