<script nonce="**CSP_NONCE**" type="text/javascript">
    window.nearbyVetCenters = {{ nearbyVetCenters | json }};
    window.mainVetCenterPhone = {{ mainVetCenterPhone | json }};
</script>
<div data-widget-type="vet-center-nearby"></div>