<!DOCTYPE html>
<html lang="en">

{% include "src/site/includes/accredited-representative-portal/head.html" %}

<body class="{{ body_class }} merger">

  {{ google_analytics_noscript }}

  <a class="show-on-focus" href="#content" onclick="focusContent(event)">Skip to Content</a>

  <div id="content">
    <main id="main" class="main">
        <div class="section">
          <div id="react-root">
          </div>
        </div>
    </main>
  </div>

  <!-- If remove this div it breaks this layout so currently hiding this with scss in vets-website Footer.scss -->
  <div
    class="arp-footer-hidden"
    id="footerNav"
  ></div>

</body>

</html>
