{% include "src/site/includes/header.html" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}

<div class="interior vads-u-padding-bottom--3" id="content" data-template="event_listing.drupal.liquid">
	<main class="va-l-detail-page va-facility-page">
		<div class="usa-grid usa-grid-full">
			{% unless entityUrl.path contains "/outreach-and-events" %}
				{% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with sidebarData = facilitySidebar %}
			{% endunless %}

			<div class="events vads-u-display--flex vads-u-flex-direction--column vads-u-padding-x--1p5 medium-screen:vads-u-padding-x--0 vads-u-padding-bottom--2">
				{% include "src/site/includes/lovell-switch-link.drupal.liquid" with
					entityUrl = entityUrl
				%}

				<h1 id="article-heading">{{ title }}</h1>
				<div class="va-introtext">
					{% if fieldIntroText %}
						<p class="events-show" id="office-events-description">
							{{ fieldIntroText }}
						</p>
					{% endif %}
				</div>
			</div>

			<div data-widget-type="events"></div>

		</div>
	</main>
</div>
{% include "src/site/includes/above-footer-elements-full-width.drupal.liquid" %}

<script nonce="**CSP_NONCE**" type="text/javascript">
	window.allEventTeasers = {{ reverseFieldListingNode | json }};
window.pastEvents = {{ pastEvents | json }};
</script>

{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
