{% include "src/site/includes/header.html" %}
<main data-template="layouts/home" id="content">

  <!--
    Homepage redesign iteration (/homepage-test)
    Date: September 2022
    Author:  bryan@kindsys.us
  -->

  {% include "src/site/includes/hero.drupal.liquid" with hero %}
  {% include "src/site/includes/common-tasks.drupal.liquid" with commonTasks %}
  {% include "src/site/includes/blog-promo.drupal.liquid" with blogPromo %}
  {% include "src/site/includes/homepage-benefits.drupal.liquid" with hubs %}
  {% comment %}
  {% include "src/site/includes/email-update-signup.drupal.liquid" %}
  {% endcomment %}

  <!-- Email Updates Signup -->
  <div class="homepage-email-updates-signup">
    <div class="homepage-email-updates-signup__wrapper vads-u-background-color--primary-alt-lightest">
      <div class="vads-u-padding-x--2p5 vads-u-padding-top--2p5">
        <div class="homepage-email-update-wrapper vads-u-padding-bottom--1p5">
          <div class="vads-l-grid-container vads-u-padding--0">
            <div class="vads-l-row">
              <div class="vads-l-col--12
                          vads-u-padding-left--0
                          vads-u-padding-top--0
                          medium-screen:vads-u-padding-left--3
                          medium-screen:vads-u-padding-right--1
                          medium-screen:vads-u-padding-top--1p5
                          medium-screen:vads-l-col--7">
                <h2 class="vads-u-font-size--lg
                           vads-u-font-family--sans
                           vads-u-font-weight--normal
                           vads-u-margin--0">
                  Want the latest VA updates? Sign up with your email address.
                </h2>
              </div>
              <div class="vads-l-col--12 medium-screen:vads-l-col--5">
                <div id="email-update-signup-form" class="vads-u-margin-top--2p5 medium-screen:vads-u-margin-top--0">
                  <label class="usa-sr-only">Sign Up for Email Updates</label>
                  <input type="text" class="email-update-signup-form__input
                           vads-u-width--full
                           vads-u-display--inline-block
                   medium-screen:vads-u-max-width--none

                           medium-screen:vads-u-width--auto">
                  <button
                    class="email-update-signup-form__button vads-u-width--full medium-screen:vads-u-width--auto vads-u-display--inline-block">Sign
                    up</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="vets-banner-1" class="veteran-banner-2 vads-u-display--none medium-screen:vads-u-display--block">
          <div class="veteran-banner-container vads-u-margin-y--0 vads-u-margin-x--auto">
            <picture>
              <source
                srcset="https://s3-us-gov-west-1.amazonaws.com/content.www.va.gov/img/homepage/veterans-banner-mobile-1.png 640w, https://s3-us-gov-west-1.amazonaws.com/content.www.va.gov/img/homepage/veterans-banner-mobile-2.png 920w, https://s3-us-gov-west-1.amazonaws.com/content.www.va.gov/img/homepage/veterans-banner-mobile-3.png 1316w"
                media="(max-width: 767px)">
              <source
                srcset="https://s3-us-gov-west-1.amazonaws.com/content.www.va.gov/img/homepage/veterans-banner-tablet-1.png 1008w, https://s3-us-gov-west-1.amazonaws.com/content.www.va.gov/img/homepage/veterans-banner-tablet-2.png 1887w"
                media="(max-width: 1008px)">
              <img class="vads-u-width--full"
                src="https://s3-us-gov-west-1.amazonaws.com/content.www.va.gov/img/homepage/veterans-banner-desktop-1.png"
                srcset="https://s3-us-gov-west-1.amazonaws.com/content.www.va.gov/img/homepage/veterans-banner-desktop-1.png 1280w, https://s3-us-gov-west-1.amazonaws.com/content.www.va.gov/img/homepage/veterans-banner-desktop-2.png 2494w"
                loading="lazy" alt="Veteran portraits">
            </picture>
          </div>
        </div>
      </div>
      {% comment %}
      {% include "src/site/includes/veteran-banner.html" %}
      {% endcomment %}
    </div>
  </div>

  <!-- / Email Updates Signup -->
</main> <!-- end #content -->


{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}