{% include "src/site/includes/header.html" %}

{% if includeBreadcrumbs == true %}
{% include "src/site/includes/breadcrumbs.html" %}
{% endif %}

<div id="content">
  <main id="main" class="main">
    {% include "src/site/components/react-loader.html" %}
  {% if includeFeedbackButton != false %}
    {% include "src/site/includes/above-footer-elements-full-width.drupal.liquid" %}
    <!-- <div class="usa-grid usa-grid-full">
      <div class="last-updated vads-u-padding-x--1 large-screen:vads-u-padding-x--0">
        <div class="vads-u-display--flex above-footer-elements-container">
          <div class="vads-u-flex--auto">
            <span class="vads-u-text-align--justify">
              {% include "src/site/includes/last-updated.drupal.liquid" %}
            </span>
          </div>
          <div class="vads-u-flex--1 vads-u-text-align--right">
            <span class="vads-u-text-align--right">
                {% include "src/site/includes/medallia-feedback-button.drupal.liquid" %}
            </span>
          </div>
        </div>
      </div>
    </div> -->
  {% endif %}
  </main>
</div>

{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
