{% include "src/site/includes/header.html" %}

{% if includeBreadcrumbs == true %}
  {% include "src/site/includes/breadcrumbs.html" %}
{% endif %}

<div id="content">
  <main id="main" class="main">
    {% include "src/site/components/react-loader.html" %}
  </main>
</div>
<div class="vads-l-row vads-u-justify-content--flex-end">
  <div class="vads-l-col--2 site-grid-example">
    <button onClick="KAMPYLE_ONSITE_SDK.showForm(4)" type="button" className="usa-button" id="mdFormButton"
      class="display: none;">
      Feedback
    </button>

  </div>
</div>



{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
