{% include "src/site/includes/header.html" %}

{% if includeBreadcrumbs == true %}
  {% include "src/site/includes/breadcrumbs.html" %}
{% endif %}

<div id="content">
  <main id="main" class="main">
    {% include "src/site/components/react-loader.html" %}

      <div class="usa-grid usa-grid-full">
        <div class="usa-width-three-fourths">
         <!-- Last updated & feedback button-->
           {% if window.contentData.feedbackButton != false %}
             {% include "src/site/includes/above-footer-elements.drupal.liquid" %}   
           {% endif %}
        </div>
      </div>
  </main>
</div>

{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
