{% include "src/site/includes/header.html" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" with hideHomeBreadcrumb = true %}

<div class="interior" id="content" data-template="vamc_system_policies_page.drupal.liquid">
  <main class="va-l-detail-page va-facility-page">
    <div class="usa-grid usa-grid-full">
      {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with sidebarData = facilitySidebar %}
      <div class="usa-width-three-fourths">
        <article aria-labelledby="article-heading" role="region" class="usa-content">
          {% include "src/site/includes/lovell-switch-link.drupal.liquid" with
            entityUrl = entityUrl
          %}

          <h1 id="article-heading">{{ title }}</h1>
          <div class="va-introtext">
            {% include "src/site/includes/centralized-content.drupal.liquid" with
              entity = fieldCcIntroText.fetched
              contentType = fieldCcIntroText.fetchedBundle
            %}
          </div>

          <va-on-this-page class="vads-u-margin-left--1 vads-u-margin-bottom--0 vads-u-padding-bottom--0"></va-on-this-page>

          {% include "src/site/includes/centralized-content.drupal.liquid" with
            entity = fieldCcTopOfPageContent.fetched
            contentType = fieldCcTopOfPageContent.fetchedBundle
          %}

          {{ fieldVamcVisitationPolicy.processed | phoneLinks }}

          {{ fieldVamcOtherPolicies.processed | phoneLinks }}

          {% include "src/site/includes/centralized-content.drupal.liquid" with
            entity = fieldCcGenVisitationPolicy.fetched
            contentType = fieldCcGenVisitationPolicy.fetchedBundle
          %}

          {% include "src/site/includes/centralized-content.drupal.liquid" with
            entity = fieldCcBottomOfPageContent.fetched
            contentType = fieldCcBottomOfPageContent.fetchedBundle
          %}
        </article>
    <!-- Last updated & feedback button-->
        {% include "src/site/includes/above-footer-elements.drupal.liquid" %}
      </div>
    </div>
  </main>
</div>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
