{% assign isInAbout = false %}
{% assign lastMenu = sidebarData.links | last %}
{% assign aboutMenu = lastMenu.links | map: 'url' %}
{% assign deepLinksString = sidebarData.links | findCurrentPathDepthRecursive: entityUrl.path %}
{% assign deepLinksObj = deepLinksString | jsonToObj %}

{% comment %} A "depth" of 1 means that this page is the root level page. {% endcomment %}
{% assign depth = deepLinksObj.depth  %}

{% assign isInAbout = aboutMenu | isAboutItem: entityUrl.path %}
{% assign deepLinks = deepLinksObj.link.links %}


{% if isPreview %}
  {{ "testing that this only shows on preview " | json }}
  {% assign publishedAndDraftFacilities = sidebarData.links.0.links.0.links.1.links | rejectBy: "entity.linkedEntity.moderationState", "archived"%}
  {% assign filteredSidebarData = sidebarData | setData: 'links[0]links[0]links[1]links', publishedAndDraftFacilities %}
{% else %}
  {% assign publishedFacilities = sidebarData.links.0.links.0.links.1.links | rejectBy: "entity.linkedEntity.entityPublished", false %}
  {% assign filteredSidebarData = sidebarData | setData: 'links[0]links[0]links[1]links', publishedFacilities%}
{% endif %}

<script nonce="**CSP_NONCE**" type="text/javascript">
    window.sideNav = {
      rootPath: "{{ entityUrl.path }}/",
      data: {{ filteredSidebarData | json }},
    };
</script>

{% comment %} React Widget located in `src/platform/site-wide/side-nav` {% endcomment %}
<nav id="facility-sidebar-nav" data-template="navigation/facility_sidebar_nav" aria-label="secondary" data-widget-type="side-nav"></nav>
