<h4 data-template="facilities/health_care_local_health_service">Contact information</h4>

{% for location in locations %}
  {% include "src/site/paragraphs/service_location.drupal.liquid" with single = location.entity serviceLocationSubHeaderLevel = 5
  %}
{% endfor %}