<div data-template="facilities/main_buttons">
    <va-link-action
      class="vads-u-display--block"
      href="https://va.my.site.com/VAVERA/s/flow/VERA_Start?type=In-Person&office=0Hht00000008Oq9"
      text="Make an in-person appointment"
      type="secondary"
    ></va-link-action>
      <va-link-action
      class="vads-u-display--block"
      href="https://va.my.site.com/VAVERA/s/flow/VERA_Start?type=Virtual&office=0Hht00000008OqE"
      text="Make a virtual appointment"
      type="secondary"
    ></va-link-action>
    <va-link-action
      class="vads-u-display--block"
      href="https://ask.va.gov"
      text="Ask a benefit question"
      type="secondary"
    ></va-link-action>
    <va-link-action
      class="vads-u-display--block"
      href="/claim-or-appeal-status"
      text="Check a claim status"
      type="secondary"
    ></va-link-action>
</div>
