{% comment %}
    This is used for Region Landing page and Contact us page
    Also used for VBA with parameter
{% endcomment %}
<div data-template="facilities/main_buttons">
    <div>
        {% if buttonType == 'vba' %}
            <a class="vads-c-action-link--blue" href="https://va.my.site.com/VAVERA/s/">Make an appointment</a>
        {% else %}
            {% assign topTask = "make-an-appointment" | topTaskLovellComp: path, buildtype, fieldAdministration, fieldVamcEhrSystem, fieldRegionPage, fieldOffice %}
            <a class="vads-c-action-link--blue" href="{{topTask.url}}">{{topTask.text}}</a>
        {% endif %}
    </div>
    <div class="vads-u-margin-y--2">
        {% if buttonType == 'vba'  %}
            <a class="vads-c-action-link--blue" href="https://ask.va.gov">Ask a benefit question</a>
        {% else %}
            <a class="vads-c-action-link--blue" href="/{{ path }}/health-services">View all health services</a>
        {% endif %}
    </div>
    <div>
        {% if buttonType == 'vba' %}
            <a class="vads-c-action-link--blue" href="/claim-or-appeal-status">Check a claim status</a>
        {% else %}
            <a class="vads-c-action-link--blue" href="/{{ path }}/register-for-care">Register for care</a>
        {% endif %}
    </div>
</div>
