{% for location in facility.locations %}
  <div class=" vads-u-margin-top--5  vads-u-margin-bottom--5">
  {% include "src/site/paragraphs/service_location.drupal.liquid" with
    single = location.entity
    fieldFacilityHours = facility.fieldFacilityHours
    facility = facility
  %}
  </div>
{% endfor %}
