<div>
  <h2 id="how-to-contact-us-police">How to contact us</h2>
  <p>Use our non-emergency phone number to request more information about VA police at {{ fieldOffice.entity.title }}.</p>
  <p>You can call us at <va-telephone contact="{{ phoneNumber.contact }}" extension="{{ phoneNumber.extension }}" />. We're here 24/7.</p>
</div>