name: Accessibility Tests

on: [push]
  # workflow_dispatch:
  # schedule:
  #   - cron: '0 10 * * 1-5'

env:
  CHROMEDRIVER_FILEPATH: /usr/local/share/chrome_driver/chromedriver

jobs:
  build:
    name: Build
    runs-on: [self-hosted, asg]
    timeout-minutes: 120

    defaults:
      run:
        working-directory: content-build

    env:
      DRUPAL_ADDRESS: https://cms-vets-website-branch-builds-lo9uhqj18nwixunsjadvjsynuni7kk1u.ci.cms.va.gov
      NODE_EXTRA_CA_CERTS: /etc/ssl/certs/VA-Internal-S2-RCA1-v1.cer.pem
      CHANNEL_ID: C01RAS1KAQK

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-gov-west-1

      - name: Get Slack app token
        uses: marvinpinto/action-inject-ssm-secrets@v1.1.1
        with:
          ssm_parameter: /devops/github_actions_slack_socket_token
          env_variable_name: SLACK_APP_TOKEN

      - name: Get Slack bot token
        uses: marvinpinto/action-inject-ssm-secrets@v1.1.1
        with:
          ssm_parameter: /devops/github_actions_slack_bot_user_token
          env_variable_name: SLACK_BOT_TOKEN
          
      - name: Get va-vsp-bot token
        uses: marvinpinto/action-inject-ssm-secrets@v1.1.1
        with:
          ssm_parameter: /devops/VA_VSP_BOT_GITHUB_TOKEN
          env_variable_name: VA_VSP_BOT_GITHUB_TOKEN

      - name: Checkout VSP actions
        uses: actions/checkout@v2
        with:
          repository: department-of-veterans-affairs/vsp-github-actions
          ref: refs/heads/main
          token: ${{ env.VA_VSP_BOT_GITHUB_TOKEN }}
          persist-credentials: false
          path: ./.github/actions/vsp-github-actions

      # - name: Notify Slack
      #   if: ${{ always() }}
      #   uses: ./.github/actions/vsp-github-actions/slack-socket
      #   env:
      #     SSL_CERT_DIR: /etc/ssl/certs
      #   with:
      #     slack_app_token: ${{ env.SLACK_APP_TOKEN }}
      #     slack_bot_token: ${{ env.SLACK_BOT_TOKEN }}
      #     attachments: '[{"mrkdwn_in": ["text"], "color": "good", "text": "Starting the daily Cypress accessibility scan of `content-build`, with run: <https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}|${{github.run_id}}>"}]'
      #     channel_id: ${{ env.CHANNEL_ID }}

      - name: Checkout vagov-content
        uses: actions/checkout@v2
        with:
          repository: department-of-veterans-affairs/vagov-content
          path: vagov-content

      - name: Checkout content-build
        uses: actions/checkout@v2
        with:
          path: content-build

      - name: Get Node version
        id: get-node-version
        run: echo ::set-output name=NODE_VERSION::$(cat .nvmrc)

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ steps.get-node-version.outputs.NODE_VERSION }}

      - name: Cache dependencies
        id: cache-dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/yarn
            node_modules
          key: ${{ steps.get-node-version.outputs.NODE_VERSION }}-${{ hashFiles('yarn.lock') }}

      - name: Install dependencies
        uses: nick-invision/retry@v2
        with:
          command: rm -rf content-build/node_modules && cd content-build && yarn install --frozen-lockfile --prefer-offline --production=false --network-concurrency 1
          max_attempts: 3
          timeout_minutes: 5
        env:
          YARN_CACHE_FOLDER: .cache/yarn

      - name: Set Drupal address
        run: echo "DRUPAL_ADDRESS=http://internal-dsva-vagov-prod-cms-2000800896.us-gov-west-1.elb.amazonaws.com" >> $GITHUB_ENV

      - name: Build
        run: yarn build --buildtype=vagovprod --asset-source=local --drupal-address=https://cms-vets-website-branch-builds-lo9uhqj18nwixunsjadvjsynuni7kk1u.ci.cms.va.gov --pull-drupal --drupal-max-parallel-requests=15 --no-drupal-proxy --verbose
        env:
          NODE_ENV: production

      - name: Compress E2E test build
        run: tar -C build/vagovprod -cjf test-build.tar.bz2 .

      - name: Upload E2E test build artifact
        uses: actions/upload-artifact@v2
        with:
          name: test-build.tar.bz2
          path: content-build/test-build.tar.bz2
          retention-days: 1
  
  a11y:
    name: Accessibility Tests
    needs: build
    runs-on: [self-hosted, asg]
    container:
      image: public.ecr.aws/cypress-io/cypress/browsers:node14.16.0-chrome89-ff77
      options: -u 1001:1001 -v /usr/local/share:/share
    strategy:
      fail-fast: false
      max-parallel: 16
      matrix:
        ci_node_total: [16]
        ci_node_index: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
    defaults:
      run:
        working-directory: content-build

    env:
      NODE_EXTRA_CA_CERTS: /share/ca-certificates/VA-Internal-S2-RCA1-v1.cer.crt
      CHROMEDRIVER_FILEPATH: /share/chrome_driver/chromedriver

    steps:
      - name: Checkout content-build
        uses: actions/checkout@v2
        with:
          path: content-build

      - name: Install dependencies
        uses: nick-invision/retry@v2
        with:
          command: rm -rf content-build/node_modules && cd content-build && yarn install --frozen-lockfile --prefer-offline --production=false --network-concurrency 1
          max_attempts: 3
          timeout_minutes: 5
        env:
          YARN_CACHE_FOLDER: .cache/yarn

      - name: Download production build artifact
        uses: actions/download-artifact@v2
        with:
          name: test-build.tar.bz2

      - name: Unpack build
        run: |
          mkdir -p build/vagovprod
          tar -C build/vagovprod -xjf /__w/content-build/content-build/test-build.tar.bz2

      - name: Install Chrome
        uses: browser-actions/setup-chrome@latest
        with:
          chrome-version: stable

      - name: Start content-build
        run: node src/platform/testing/e2e/test-server.js --buildtype vagovprod --port=3002 &

      - name: Run Cypress E2E Tests
        run: CYPRESS_CONTENT_BUILD_PORT=3002 yarn cy:run --browser chrome --headless --port 3001 --config baseUrl=http://localhost:3002,video=false,testFiles=**/tests/**/*.a11y.spec.js --reporter mochawesome --reporter-options "configFile=config/cypress-reporters.json" --spec "src/platform/site-wide/tests/sitemap/sitemap-${{ matrix.ci_node_index }}.a11y.spec.js"

      - name: Archive Mochawesome test results
        uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: cypress-mochawesome-test-results
          path: mochawesome-report
          retention-days: 1

  slack:
    name: Notify Slack
    runs-on: ubuntu-latest
    needs: a11y
    if: ${{ always() }}

    env:
      CHANNEL_ID: C01RAS1KAQK

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: 'us-gov-west-1'

      - name: Get va-vsp-bot token
        uses: marvinpinto/action-inject-ssm-secrets@v1.1.1
        with:
          ssm_parameter: /devops/VA_VSP_BOT_GITHUB_TOKEN
          env_variable_name: VA_VSP_BOT_GITHUB_TOKEN

      - name: Checkout VSP actions
        uses: actions/checkout@v2
        with:
          repository: department-of-veterans-affairs/vsp-github-actions
          ref: refs/heads/main
          token: ${{ env.VA_VSP_BOT_GITHUB_TOKEN }}
          persist-credentials: false
          path: ./.github/actions/vsp-github-actions

      - name: Get Slack app token
        uses: marvinpinto/action-inject-ssm-secrets@v1.1.1
        with:
          ssm_parameter: /devops/github_actions_slack_socket_token
          env_variable_name: SLACK_APP_TOKEN

      - name: Get Slack bot token
        uses: marvinpinto/action-inject-ssm-secrets@v1.1.1
        with:
          ssm_parameter: /devops/github_actions_slack_bot_user_token
          env_variable_name: SLACK_BOT_TOKEN

      # - name: Accessibility Test Failure
      #   uses: ./.github/actions/vsp-github-actions/slack-socket
      #   if: ${{ needs.a11y.result == 'failure' }}
      #   env:
      #     SSL_CERT_DIR: /etc/ssl/certs
      #   with:
      #     slack_app_token: ${{ env.SLACK_APP_TOKEN }}
      #     slack_bot_token: ${{ env.SLACK_BOT_TOKEN }}
      #     attachments: '[{"mrkdwn_in": ["text"], "color": "danger", "text": "[report-only] Daily Cypress accessibility scan has failed on run: <https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}|${{github.run_id}}>"}]'
      #     channel_id: ${{ env.CHANNEL_ID }}

      # - name: Accessibility Test Success
      #   uses: ./.github/actions/vsp-github-actions/slack-socket
      #   if: ${{ needs.a11y.result == 'success' }}
      #   env:
      #     SSL_CERT_DIR: /etc/ssl/certs
      #   with:
      #     slack_app_token: ${{ env.SLACK_APP_TOKEN }}
      #     slack_bot_token: ${{ env.SLACK_BOT_TOKEN }}
      #     attachments: '[{"mrkdwn_in": ["text"], "color": "good", "text": "Daily Cypress accessibility scan has completed successfully on run: <https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}|${{github.run_id}}>"}]'
      #     channel_id: ${{ env.CHANNEL_ID }}

      - name: Download Mochawesome test results
        uses: actions/download-artifact@v2
        with:
          name: cypress-mochawesome-test-results
          path: content-build/cypress/results/json

      - name: Merge test results into one file
        run: yarn run cy:report:merge

      - name: Generate HTML report
        run: yarn run cy:report:generate

      - name: Archive Mochawesome test results
        uses: actions/upload-artifact@v2
        with:
          name: cypress-a11y-report
          path: index.html
          retention-days: 30