name: Shai-Hulud 2.0 Security Check

on:
  push:
    branches:
      - "**"
  workflow_dispatch:

jobs:
  security-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: gensecaihq/Shai-Hulud-2.0-Detector@55cd78e683ee88b1f0a7e084919908e402462ec3 # v1.0.2
        with:
          fail-on-critical: true
